
:root {

    --color-principal: #6c5ce7;
    --color-principal-oscuro: #5145b5;

    --color-secundario: #00cec9;

    --color-fondo: #f7f7fb;
    --color-blanco: #ffffff;

    --color-texto: #22223b;
    --color-texto-claro: #6c6c80;

    --color-borde: #e6e6ef;

    --sombra:
        0 10px 30px rgba(30, 30, 60, 0.08);

    --radio: 16px;

    --contenedor: 1200px;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    color: var(--color-texto);
    background-color: var(--color-fondo);
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: inherit;
}


header {
    background-color: var(--color-blanco);

    border-bottom: 1px solid var(--color-borde);

    position: sticky;
  
}
.contenedor {
 display:grid;
 grid-template-columns: 1fr 1fr;
 padding-left: 1rem;
 padding-right: 1rem;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--color-principal);
}
.menu{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    list-style: none;
    justify-content: flex-end;

  
}

.hero {
    background-color: var(--color-principal);
    color: var(--color-blanco);
    text-align: center;
    padding: 4rem 2rem;
}

.productos {
    display: grid;
    /*grid-template-columns: repeat(auto-fit, minmax(150px, 2fr));*/
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 2rem;
}
.grid-productos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    padding: 2rem;
}
.card-producto {
    background-color: var(--color-blanco);
    border: 1px solid var(--color-borde);
    border-radius: var(--radio);
    box-shadow: var(--sombra);
    padding: 1rem;
    text-align: center;
}
.card-producto img {
    width: 100%;
    height: 50%;
    border-radius: var(--radio);
    margin-bottom: 1rem;
}
footer {
    display:grid;
    grid-template-columns: 2fr 1fr;
    background-color: var(--color-blanco);
    border-top: 1px solid var(--color-borde);
    padding-top: 1rem;
    padding-bottom: 1rem;
    
  
}

.redes-sociales {
    display: flex;
    justify-content: center;
    gap: 1rem;
   
}

