
:root {

    --color-principal: #6c5ce7;
    --color-principal-oscuro: #5145b5;

    --color-secundario: #00cec9;

    --color-fondo: #f7f7fb;
    --color-blanco: #ffffff;

    --color-texto: #22223b;
    --color-texto-claro: #6c6c80;

    --color-borde: #e6e6ef;

    --sombra:
        0 10px 30px rgba(30, 30, 60, 0.08);

    --radio: 16px;

    --contenedor: 1200px;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    color: var(--color-texto);
    background-color: var(--color-fondo);
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: inherit;
}


